.button {
    width: 100%;

    border: 0;
    padding: 6px 14px;

    border-radius: 32px;
    cursor: pointer;

    font-weight: 700;
    font-size: var(--font-size-normal);

    transition: background-color ease-out 0.3s;
}

.normal_button {
    @extend .button;

    background-color: var(--purple);
    color: white;

    &:hover {
        background-color: var(--dark-purple);
    }
}

.outline_button {
    @extend .button;

    background-color: white;
    color: var(--purple);

    &:hover {
        background-color: var(--almost-white);
    }
}