.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 18px;

    padding: 64px 0;

    >h1 {
        font-size: var(--font-size-big);
    }
}