.header {
    background: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 25px 0;

    @media only screen and (max-width: 425px) {
        padding: 0;
    }
}

.logo {
    flex: 0 0 auto;
    margin-left: var(--page-horizontal-margin-min);
    cursor: pointer;

    transition: opacity ease-out 0.3s;

    &:hover {
        opacity: 0.8;
    }

    @media only screen and (max-width: 425px) {
        display: none;
    }
}

$bar-vertical-padding: 20px;
$bar-horizontal-padding: 25px;

.bar {
    flex: 0 0 auto;

    background-color: var(--purple);

    padding:
        $bar-vertical-padding $bar-horizontal-padding $bar-vertical-padding calc($bar-horizontal-padding * 2);
    border-radius: 60px 0 0 60px;

    @media only screen and (max-width: 425px) {
        padding: $bar-vertical-padding $bar-horizontal-padding;
    }

    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 50px;

    >a.home {
        display: none;
    }

    >a {
        cursor: pointer;
        font-size: var(--font-size-normal);
        color: white;
        font-weight: 700;

        transition: color ease-out 0.3s;

        &:hover {
            color: var(--gray);
        }
    }

    @media only screen and (max-width: 425px) {
        border-radius: 0;
        flex: 1 0 auto;
        justify-content: center;

        >a.home {
            display: block;
        }
    }
}