.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.me {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-bottom: 40px;

    .image {
        border-radius: 50%;
    }

    h1 {
        color: var(--purple);
        font-size: var(--font-size-big);
    }

    h2 {
        font-size: var(--font-size-small);
        font-weight: 400;
    }
}



.about {
    flex: 1 0 auto;

    $horPadding: 35px;
    padding: 45px $horPadding 0 $horPadding;

    border-radius: 40px 40px 0 0;

    background-color: var(--purple);
    color: white;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    row-gap: 25px;

    >h1 {
        width: 100%;
        text-align: center;
        font-size: var(--font-size-big);
    }

    >p {
        font-size: var(--font-size-normal);
    }

    >.contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;

        width: 100%;

        >p {
            display: flex;
            align-items: center;

            font-weight: 700;

            >svg {
                margin: 0 6px;
            }
        }
    }
}