.button {
    margin: 0 auto;
    margin-top: 32px;
}

.container {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    @media screen and (max-width: 425px) {
        margin-top: 32px;
    }
}