.footer {
    background-color: var(--purple);

    padding: 30px var(--page-horizontal-margin);

    @media only screen and (max-width: 425px) {
        padding: 30px var(--page-horizontal-margin-min);
    }

    display: flex;
    flex-direction: column;
    row-gap: 20px;

    >p {
        color: white;
        text-align: center;

        >a {
            font-weight: 700;
            text-decoration: underline;
        }
    }

}