.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.text {

    h1,
    h2 {
        font-weight: 400;
    }
}

.image {
    border-radius: 50%;
}