:root {
  --purple: #9D4EDD;

  --font-size-normal: 16px;

  --page-horizontal-margin: 50px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}