:root {
  --purple: #9D4EDD;
  --dark-purple: #7F3EB5;

  --almost-white: #EFEFEF;
  --gray: #C4C4C4;

  --font-size-normal: 16px;
  --font-size-big: 24px;

  --page-horizontal-margin-min: 50px;
  --page-horizontal-margin: max(var(--page-horizontal-margin-min), 20vw);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}